html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  background-color: white;
  text-rendering: optimizeLegibility;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, "Apple Color Emoji", Arial, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: 300;
  font-size: 16px;
  color: white;
  margin: 0;
  padding: 20px 40px;
  color: rgb(55, 53, 47);
}
h1{
  font-weight: 700;
  line-height: 1.2;
  font-size: 40px;
  padding: 3px 2px;
}
table {
  font-size: 14px;
  border-collapse: collapse;
  width: 100%;
  max-width: 1030px;
}
table thead td{
  color: rgba(55, 53, 47, 0.6);
}
table td{
  padding: 5px 8px;
  border: 1px solid rgba(55, 53, 47, 0.09);
}
table tbody td:nth-child(1){
  width: 120px;
}
table td:nth-child(2){
  width: 100px;
  text-align: right;
}
.add-row {
  margin-top: 60px;
}
.add-row form > div {
  margin-top: 12px;
  display: flex;
  aligng-items: flex-start;
}
.add-row label {
  width: 100px;
  display: inline-block;
}
.add-row [name=amount] {
  width: 70px;
}
.add-row form button {
  margin-top: 20px;
  height: 24px;
  border-radius: 3px;
  background: rgb(46, 170, 220);
  padding: 4px 8px;
  font-size: 14px;
  border: 1px solid transparent;
  color: white;
  cursor: pointer;
}
.add-row form input, .add-row form textarea {
  border: 1px solid rgba(55, 53, 47, 0.2);
}
canvas#by_month{
  width: 400px;
  height: 400px;
  max-width: 400px;
  max-height: 400px;
}
canvas#by_day {
  width: 570px;
  height: 400px;
  max-width: 570px;
  max-height: 400px;
}
.chart-wrapper {
  margin-top: 60px;
  display: flex;
  width: 800px;
}
.chart-wrapper > div:first-child {
  margin-right: 60px;
}

